@model borrowAndLend.Models.Item

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <h2>Delete Item</h2>
            </div>
            <form method="post" asp-action="DeletePost">
                <input asp-for="Id" hidden />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="ItemName" class=""></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Borrower" class=""></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Lender" class=""></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input asp-for="ItemName" disabled  class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <input asp-for="Borrower" disabled class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <input asp-for="Lender" disabled class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-4 mt-3">
                        <input type="submit" class="w-25 btn btn-info btn-lg" value="Delete" />
                        <a asp-controller="Item" asp-action="Index" class="w-25 btn btn-danger btn-lg">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

